body{
    background-color: rgb(214, 214, 214);
}

h1 {
    height: 150px;
    background-color: black
}

.box1 {
    background-color: white;
    width: 80%;
    height: 700px;
    margin: 0 auto;

}

.box2 {
    height: 158px;
    background-color: black;
    margin: auto 192px;
}